/*===================================================================================================================*/
/*                                              ¡¿√-“–≈ ≈–                                                           */
/*===================================================================================================================*/

hr.bugtracker {
    border-color: ghostwhite;
}


/*======================================= currentTicketView ============================================*/
.ticket_head {
    width: 100%;
}

.ticket_head label{
    text-align: center;
    color:ghostwhite;
}

.ticket_head .ticket_name {
    padding-top: 10px;
    padding-left: 10px;
    color: #1cdaff;
    font-size: 20px;
}

.ticket_head .ticket_code {
    color: #7ecacd;
    font-size: 25px;
}

.ticket_head .ticket {
    color: #e4dd83;
    font-size: 25px;
}

.ticket_head .ticket_code:hover {
    color: #abfcff;
    cursor: pointer;
}



td.ticket_status {
    color: #7ecacd;
    font-size: 25px;
    width: 300px;
    text-align: center;
}

td.ticket_status option {
    color: #414443;
    background: linear-gradient(to top, #577eba, #79e7ff);
    padding: 2px 5px 2px 5px;
    border-radius: 4px;
    font-size: 20px;
}

td.ticket_data {
    color: #fffc9b;
    padding: 2px 5px 2px 5px;
    font-size: 20px;
    text-align: center;
}

td.ticket_create {
    width:200px;
}

.description {
    padding-left: 5px;
    color: #fffc9b;
    font-size: 20px;
}

.ticket_contain {
    color: #cacaca;
    background: #434343;
    border: 1px solid ghostwhite;
    border-radius: 2px;
    padding: 25px 15px 15px 15px;
    height: 500px;
    overflow: auto;
    cursor: pointer;
}

pre {
    border: 0px;
    border-radius: 0px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    color: ghostwhite;
    font-size: 18px;
    background: #434343;
    font-family: arial;
}
/*======================================= /currentTicketView ============================================*/






/*======================================= selectTicketView ============================================*/
.tickets {
    background: ghostwhite;
    margin-bottom: 0px;
    padding-right: 18px;
}

.head {
    background: white;
    font-weight: bold;
    margin-bottom: 0px;
    width: 100%;
}

.tickets .code {
    width: 100px;
}

.tickets .title {

}

.tickets .created {
    width: 100px;
}

.tickets .status {
    width: 100px;
}

.select_ticket_head_table {
    width: 100%;
    margin-top: 10px;
}

.ticket_row:hover {
    cursor: pointer;
    background: white;
    color: red;
}

.ticket_select_wrap {
    border: 1px solid #e6b634;
    max-height: 510px;
    overflow: auto;
}

/*======================================= /selectTicketView ============================================*/



/*======================================= createTicketView ============================================*/
.create_ticket_form [name=title] {
    width: 800px;
    margin-right: 25px;
}

.create_ticket_form [name=code] {
    width: 200px;
}

.create_ticket_form [name=contain] {
    width: 100%;
    height: 500px;
    max-width: 1175px;
    max-height: 500px;
}

.create_ticket_form {

}

.ticket_create_wrap {
    margin-top: 10px;
    text-align: center;
}

.ticket_create_wrap button {
    margin-left: 50px;
    width: 300px;
    text-align: center;
}

.ticket_form_label {
    color: ghostwhite;
    font-size: 20px;
    padding-left: 20px;
}

/*======================================= /createTicketView ============================================*/



