.body {
    background: rgba(70, 70, 70, 1);
}

hr.white {
    border-color: ghostwhite;
}

div.main {
    background: rgba(70, 70, 70, 1);
    margin-left: 10px;
    margin-right: 10px;
}

/******************************* navBar ***********************************/
.button-head {
    width: 150px;
}

.vertical-delimiter {
    color: ghostwhite;
    font-size: 20px;
}
/******************************* /navBar ***********************************/



/******************************* MainView ***********************************/
p.main_head {
    text-align: center;
    color: ghostwhite;
    font-size: 25px;
}

p.main_time {
    text-align: center;
    color: ghostwhite;
    font-size: 20px;
}
/******************************* /MainView **********************************/



/******************************* Header ***********************************/
.header {
    width: 100%;
}

.header td {
    padding-top: 20px;
}

.header .title {
    color: #f7f67e;
    padding-left: 10px;
    font-size: 25px;
    width: 70%;
}

.header .controls {
    float: right;
    margin-left: 5px;
}
/******************************* /Header **********************************/



/******************************* DropDown **********************************/
button.dd_button {
    width: 150px;
}

ul.dropdown-list {
    list-style-type: none;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    position: absolute;
    width: 150px;
}

li.dd_item {
    background: ghostwhite;
    color:black;
    padding: 2px 5px 2px 5px;
    font-size: 16px;
}

li.dd_item:hover {
    background: white;
    color:red;
    cursor: pointer;
}
/******************************* /DropDown **********************************/