<link href="/css/bugtracker.css" type="text/css" rel="stylesheet">

<script>
    /**
     * Created by Александр on 28.12.2016.
     */
    var hServer = angular.module('hServer', []);


    /** Директива header */
    hServer.directive('hsHeader', function() {
        return {
            restrict: 'AECM',
            templateUrl: '/app/general/templates/_header.html',
            replace: true,
            controller: function($scope, $element) {
                alert(1111);
            }
        }
    });

</script>

<div ng-app="hServer">
    <hs-header></hs-header>
</div>

    <form name="create_ticket_form">
        <table class="create_ticket_table">
            <tr>
                <td class="ticket_form_label">Название</td>
                <td></td>
            </tr>
            <tr>
                <td class="title"><input ng-model="ticket.title" name="title" type="text" class="form-control" required></td>
                <td class="dd" id="ticket_type"></td>
                <td class="dd" id="project_list"></td>
            </tr>
            <tr>
                <td colspan="3" class="ticket_form_label">Описание</td>
            </tr>
            <tr>
                <td class="contain" colspan="3"><textarea ng-model="ticket.contain" name="contain" type="text" class="form-control" required></textarea></td>
            </tr>
            <tr>
                <td colspan="3"><br><input ng-click="createTicket(ticket, create_ticket_form)" type="submit" class="form-control btn-info" value="Создать"></td>
            </tr>
        </table>
    </form>
