<link href="/css/bugtracker.css" type="text/css" rel="stylesheet">
<div id="bugtracker_wrapper">

    <form name="create_ticket_form">
        <table class="create_ticket_form">
            <tr>
                <td><label>Название<input ng-model="ticket.title" name="title" type="text" class="form-control" required></label></td>
            </tr>
            <tr>
                <td><label>Описание<textarea ng-model="ticket.contain" name="contain" type="text" class="form-control" required></textarea></label></td>
            </tr>
            <tr>
                <td><input ng-click="createTicket(ticket, create_ticket_form)" type="submit" class="form-control btn-primary" value="Создать"></td>
            </tr>
        </table>
    </form>

</div>