<link href="/css/bugtracker.css" type="text/css" rel="stylesheet">
<div id="bugtracker_wrapper">

    <table class="ticket_head">
        <tr>
            <td><span class="ticket">Тикет  </span><span class="ticket_code">SF-1</span></td>
            <td class="ticket_status"><span>В работе</span></td>
            <td class="ticket_data"><span>28.11.2016</span></td>
            <td class="ticket_create"><a href="#/create_ticket">Создать</a></td>
        </tr>
        <tr>
    <td class="ticket_name">Создать представление selectDoneExercisesView</td>
        </tr>
    </table>

    <hr class="bugtracker">

    <div class="description">Описание</div>

    <div class="ticket_contain">
        {{contain}}
    </div>



</div>