.body {
    background: rgba(70, 70, 70, 1);
}

hr.white {
    border-color: ghostwhite;
}

div.main {
    background: rgba(70, 70, 70, 1);
    margin-left: 10px;
    margin-right: 10px;
}

/******************************* navBar ***********************************/
.button-head {
    width: 150px;
}

.vertical-delimiter {
    color: ghostwhite;
    font-size: 20px;
}
/******************************* /navBar ***********************************/



/******************************* MainView ***********************************/
p.main_head {
    text-align: center;
    color: ghostwhite;
    font-size: 25px;
}

p.main_time {
    text-align: center;
    color: ghostwhite;
    font-size: 20px;
}
/******************************* /MainView **********************************/



/******************************* Header ***********************************/
.header {
    width: 100%;
}

.header td {
    padding-top: 20px;
}

.header .title {
    color: #f7f67e;
    padding-left: 10px;
    font-size: 25px;
    width: 70%;
}

.header .controls {
    float: right;
    margin-left: 5px;
}
/******************************* /Header **********************************/



/******************************* DropDown **********************************/
button.dd_button {
    width: 150px;
}

ul.dropdown-list {
    list-style-type: none;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    position: absolute;
    width: 150px;
}

li.dd_item {
    background: ghostwhite;
    color:black;
    padding: 2px 5px 2px 5px;
    font-size: 16px;
    border: 1px solid gray;
}

li.dd_item:hover {
    background: white;
    color:red;
    cursor: pointer;
}
/******************************* /DropDown **********************************//*===================================================================================================================*/
/*                                              БАГ-ТРЕКЕР                                                           */
/*===================================================================================================================*/


/*======================================= currentTicketView ============================================*/
.ticket_head {
    margin-top: 15px;
    width: 100%;
}

.ticket_head label{
    text-align: center;
    color:ghostwhite;
}

.ticket_head .ticket_name {
    padding-top: 10px;
    padding-left: 10px;
    color: #1cdaff;
    font-size: 20px;
}

.ticket_head .ticket_code {
    color: #7ecacd;
    font-size: 25px;
}

.ticket_head .ticket {
    color: #e4dd83;
    font-size: 25px;
}

.ticket_head .ticket_code:hover {
    color: #abfcff;
    cursor: pointer;
}

td.ticket_status {
    color: #7ecacd;
    font-size: 25px;
    width: 300px;
}

td.ticket_type {
    font-size: 25px;
}

td.ticket_status option {
    color: #414443;
    background: linear-gradient(to top, #577eba, #79e7ff);
    padding: 2px 5px 2px 5px;
    border-radius: 4px;
    font-size: 20px;
}

td.ticket_data {
    color: #fffc9b;
    padding: 2px 5px 2px 5px;
    font-size: 20px;
    text-align: center;
}

td.ticket_create {
    width:130px;
}

.description {
    padding-left: 5px;
    color: #fffc9b;
    font-size: 20px;
}

.ticket_contain {
    color: #cacaca;
    background: #434343;
    border-radius: 2px;
    padding: 25px 15px 15px 15px;
    overflow-x: hidden;
    cursor: pointer;
    word-wrap: break-word;
    border: 1px solid #777;
    transition-duration: 500ms;
    transition-property: all;
}

.ticket_contain pre {
    border: 0px solid red;
    border-radius: 0px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    color: ghostwhite;
    background: inherit;
    font-size: 18px;
    overflow-x: hidden;
    font-family: "Helvetica Neue";
    white-space: pre-wrap;
}

.ticket_contain:hover {
    border: 1px solid ghostwhite;
}
/*======================================= /currentTicketView ============================================*/






/*======================================= selectTicketView ============================================*/
.tickets {
    background: ghostwhite;
    margin-bottom: 0px;
    padding-right: 18px;
}

.head {
    background: white;
    font-weight: bold;
}

.tickets .code {
    width: 80px;
}

.tickets .type {
    width: 80px;
}

.tickets .title {

}

.tickets .created {
    width: 100px;
}

.tickets .status {
    width: 100px;
}

.select_ticket_head_table {
    width: 100%;
    margin-top: 15px;
}

.ticket_row:hover {
    cursor: pointer;
    background: white;
    color: red;
}

.ticket_select_wrap {
    border: 0px solid #e6b634;
    max-height: 510px;
    overflow-y: scroll;
}

/*======================================= /selectTicketView ============================================*/



/*======================================= createTicketView ============================================*/
.create_ticket_table {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}

.create_ticket_table td{

}

.create_ticket_table .title {
    width: 100%;
}

.dd_title {
    margin-right: 10px;
    float: right;
}

.submit_button {

}


.create_ticket_table .dd_button {

}

.create_ticket_table .dd  {
    float: right;
}

.create_ticket_table .dd > * {
    margin: 0px 15px 0px 15px;
}

.create_ticket_table .contain {
    width: 100%;
}

.create_ticket_table .contain textarea {
    width: 100%;
    max-width: 100%;
    height: 400px;
    background: ghostwhite;
}

.ticket_create_wrap {
    margin-top: 10px;
    text-align: center;
}

.ticket_create_wrap button {
    margin-left: 50px;
    width: 300px;
    text-align: center;
}

.ticket_form_label {
    color: ghostwhite;
    font-size: 20px;
    padding-left: 20px;
}



/*======================================= /createTicketView ============================================*/


/* ContentEditor */
#panel_button {
    position: relative;
    top: -14px;
}

#new_content {
    background: #e3e3e3;
    color: #303030;
    font-size: 18px;
}

/* /ContentEditor */
/*===================================================================================================================*/
/*                                              КЛАВИШИ                                                              */
/*===================================================================================================================*/

hr.white {
    border-color: ghostwhite;
}

div.add_beats_form_wrap {
    margin-left: 50px;
}

div.add_beats_form_wrap td {
    padding: 5px 5px 5px 5px;
}

div.add_beats_form_wrap input[type=submit] {
    margin-top: 10px;
    width: 100%;
}

div.table_wrap {
    overflow: auto;
    height: 500px;
}

div.table_wrap thead {
background: linear-gradient(to top, #87c0e7, #9ee0ff);
}

table#beats {
    background: ghostwhite;
}

div.table_wrap td {
   cursor: pointer;
}


/*-------------------------------------- allBeatsView------------------------------*/

.piano_head_table {
    margin-top: 10px;
    width: 100%;
}

.table_header {
    font-weight: bold;
}

.beats_title {
    color: #f7f67e;
    padding-left: 10px;
    font-size: 25px;
    width: 70%;
    transition-property: color;
    transition-duration: 500ms;
}

.beats_title:hover {
    color: #68e3f7;
}

.add_beats_button {
    float: right;
    width: 200px;
    padding-left: 10px;
}

.tickets {
    background: ghostwhite;
    margin-bottom: 0px;
    padding-right: 18px;
}

.head {
    background: white;
    font-weight: bold;
    margin-bottom: 0px;
    width: 100%;
}

.tickets .beats {
    width: 170px;
}

.tickets .minutes {
    width: 170px;
}

.tickets .complexity {

}

.tickets .status {
    width: 170px;
}

.tickets .updated {
    width: 170px;
}

.select_ticket_head_table {
    width: 100%;
    margin-top: 10px;
}

.beat_row:hover {
    cursor: pointer;
    background: white;
    color: red;
}

.beats_select_wrap {
    max-height: 510px;
    overflow-y: scroll;
}

.editable {
    background: #f4fef1;
}
/*--------------------------------------/allBeatsView------------------------------*/



/*--------------------------------------statisticsView------------------------------*/
   .statistics_wrap {

    }

    .statistics_wrap .add_beats_button {
        float: right;
        margin-left: 10px;
        margin-top: 10px;
    }

    .statistics_wrap .title {
        text-align: left;
        font-size: 25px;
        width: 80%;
        padding-left: 10px;
        color: #f7f67e;
    }

    .statistics_wrap .label {
        font-size: 25px;
        color: lightblue;
    }

     .statistics_wrap .value {
        font-size: 25px;
        color: orange;
    }
/*--------------------------------------/statisticsView------------------------------*/




/*--------------------------------------addBeatsView------------------------------*/
    .add_beats_table td {

        color: ghostwhite;
        font-size: 20px;
    }

    #add_beats {
        margin-top: 10px;
    }

    #add_beats .title {
        color: #f7f67e;
        font-size: 25px;
        width: 90%;
        text-align: left;
        padding-left: 10px;
    }

    #add_beats .add_beats_button {
        float: right;
    }
/*--------------------------------------/addBeatsView------------------------------*/


/** editor */
.edit-cell {
    position: absolute;
    border-radius: 0px;
}/*===================================================================================================================*/
/*                                              �����                                                                */
/*===================================================================================================================*/

hr.white {
    border-color: ghostwhite;
}

/*-------------------------------------- doneExercisesView------------------------------*/
.done_exercises_head_table {
    margin-top: 10px;
    width: 100%;
}

.done_exercises_head_table .list_of_done_exercises {
    color: #f7f67e;
    padding-left: 10px;
    font-size: 25px;
    width: 70%;
}

.done_exercises_head_table button{
    float: right;
}

.done_exercises_wrap {
    max-height: 390px;
    overflow-y: scroll;
}

table.done_exercises {
    margin: 0px 0px 0px 0px;
    background: ghostwhite;
}

.done_exercises .date {
    width: 100px;
}

.done_exercises .ex {
    width: 100px;
    margin: 0px 0px 0px 0px;
}

.done_exercises.head td {
    font-weight: bold;
}

.add_done_exercises {
    margin-top: 0px;
    border: 0px;
}

.add_done_exercises > tbody > tr > td {
    border: 0px;
    padding: 0px 2px 0px 2px;
}

.add_done_exercises .date > input {
    width: 100px;
}

.add_done_exercises .ex > input{

    margin: 0px 2px 0px 2px;
}

.add_done_exercises .ex {

}

.add_done_exercises input[type="submit"], .add_done_exercises button {
    width: 98%;
    margin-left: 2px;
    margin-top: 5px;
    margin-right: 2px;
}
/*-------------------------------------- /doneExercisesView------------------------------*/




/*-------------------------------------- exercisesListView------------------------------*/
.exercises_head_table {
    margin-top: 10px;
    width: 100%;
}

.exercises_head_table .list_of_exercises {
    color: #f7f67e;
    padding-left: 10px;
    font-size: 25px;
    width: 70%;
}

.exercises_head_table button {
    margin-left: 10px;
}

.exercises {
    width: 100%;
}

.exercises .name {
    width: 70px;
}

.exercises .title {

}

.exercises .set {
    width: 90px;
}

.exercises .rest {
    width: 70px;
}

.exercises .repeat {
    width: 180px;
}

.exercises .times {
    width: 180px;
}

.exercises.head {
    width: 100%;
}

.exercises.head td{
    font-weight: bold;
}

table.exercises {
    margin: 0px 0px 0px 0px;
    background: ghostwhite;
}

.exercises_wrap {
    max-height: 510px;
    overflow-y: scroll;
}
/*-------------------------------------- /exercisesListView------------------------------*/



/*-------------------------------------- addExerciseView------------------------------*/

table.add_exercise_table {
    margin: 50px 0px 0px 50px;
}

table.add_exercise_table td {
    padding: 5px 10px 5px 10px;
}


table.add_exercise_table .label {
    color: ghostwhite;
    font-size: 20px;
}

table.add_exercise_table .ex_input {
    position: relative;
    top: -10px;
    width: 400px;
}

table.add_exercise_table td input[type="submit"] {
    width: 100%;
}


/*-------------------------------------- addExerciseView------------------------------*/.select_thematics {
    margin-top: 10px;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
}

.select_thematics td {

}

.select_thematics td.issue {
    float: left;
}

.select_thematics td.subissue {
    float: right;
}

.contain {
    margin: 10px 10% 100px 10%;
    width: 80%;
    color: #262626;
    background: #f4f4f4;
    border-radius: 2px;
    padding: 25px 15px 15px 15px;
    overflow-x: hidden;
    cursor: pointer;
    word-wrap: break-word;
    transition-duration: 500ms;
    transition-property: all;
}

.contain pre {
    border-radius: 0px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    color: inherit;
    background: inherit;
    font-size: 18px;
    overflow-x: hidden;
    font-family: "Helvetica Neue";
    white-space: pre-wrap;
}

.contain:hover {
    border-radius: 2px;
    box-shadow: 0 0 7px 3px yellow;
}

.copy_button_cell {
    width: 20%;
}

#copy_button {
    width: 220px;
    margin-top: 15px;
    margin-bottom: 15px;
}

/* ContentEditor */
#panel_button {
    position: relative;
    top: -14px;
}

#new_content {
    background: ghostwhite;
    color: #303030;
    font-size: 18px;
}

/* /ContentEditor */

.copy_table {
    margin-top: 75px;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
}

.copy_alert {
    display: none;
    width: 200px;
    margin-bottom: 0px;
}

.copy_table td {

}

/** ===================== ���������� ����� ������� ===================== */

