<div>
    <ng-home-header title="Новое упражнение" ctrls="Все_упражнения|allexercises Сделанные_упражения|doneexercises"></ng-home-header>
    <form name="add_exercise_form">
        <table class="add_exercise_table">
                <tr>
                    <td class="label">Номер</td>
                    <td class="ex_input"><input type="text" class="form-control" name="name" ng-model="SPCtrl.newEx.name" required></td>
                </tr>
                <tr>
                    <td class="label">Название</td>
                    <td class="ex_input"><input type="text" class="form-control" name="title" ng-model="SPCtrl.newEx.title" required></td>
                </tr>
                <tr>
                    <td class="label">Время подхода</td>
                    <td class="ex_input"><input type="text" class="form-control" name="setTimeSec" ng-model="SPCtrl.newEx.setTimeSec"></td>
                </tr>
                <tr>
                    <td class="label">Время отдыха</td>
                    <td class="ex_input"><input type="text" class="form-control" name="restTimeSec" ng-model="SPCtrl.newEx.restTimeSec"></td>
                </tr>
                <tr>
                    <td class="label">Кол-во повторений</td>
                    <td class="ex_input"><input type="text" class="form-control" name="repeatNumber" ng-model="SPCtrl.newEx.repeatNumber"></td>
                </tr>
                <tr>
                    <td class="label">Кол-во подходов</td>
                    <td class="ex_input"><input type="text" class="form-control" name="timesNumber" ng-model="SPCtrl.newEx.timesNumber"></td>
                </tr>
                <tr>
                    <td colspan="2"><input ng-click="SPCtrl.newExercise(add_exercise_form)" type="submit" value="Добавить упражнение" class="btn btn-info"></td>
                </tr>
        </table>
    </form>
</div>