<div>
    <ng-home-header title="Список сделанных упражнений" ctrls="Все_упражнения|allexercises Добавить_упражнение|addexercises"></ng-home-header>
    <div class="add_done_exercises_wrap">
        <form name="add_done_exercises_from">
            <table class="table table-bordered add_done_exercises head">
                <tr>
                    <td class="date">Дата</td>
                    <td class="ex">Упр 1</td>
                    <td class="ex">Упр 2</td>
                    <td class="ex">Упр 3</td>
                    <td class="ex">Упр 4</td>
                    <td class="ex">Упр 5</td>
                    <td class="ex">Упр 6</td>
                    <td class="ex">Упр 7</td>
                    <td class="ex">Упр 8</td>
                    <td class="ex">Упр 9</td>
                    <td class="ex">Упр 10</td>
                    <td class="ex">Упр 11</td>
                    <td class="ex">Упр 12</td>
                    <td class="ex">Упр 13</td>
                </tr>
                <tr>
                    <td class="date"><input ng-model="SPCtrl.doneExercise.date" class="form-control" type="text" name="date" required></td>
                    <td class="ex"><input ng-model="SPCtrl.doneExercise.ex1" class="form-control" type="text" name="ex1" required></td>
                    <td class="ex"><input ng-model="SPCtrl.doneExercise.ex2"  class="form-control" type="text" name="ex2"></td>
                    <td class="ex"><input ng-model="SPCtrl.doneExercise.ex3"  class="form-control" type="text" name="ex3"></td>
                    <td class="ex"><input ng-model="SPCtrl.doneExercise.ex4"  class="form-control" type="text" name="ex4"></td>
                    <td class="ex"><input ng-model="SPCtrl.doneExercise.ex5"  class="form-control" type="text" name="ex5"></td>
                    <td class="ex"><input ng-model="SPCtrl.doneExercise.ex6"  class="form-control" type="text" name="ex6"></td>
                    <td class="ex"><input ng-model="SPCtrl.doneExercise.ex7"  class="form-control" type="text" name="ex7"></td>
                    <td class="ex"><input ng-model="SPCtrl.doneExercise.ex8"  class="form-control" type="text" name="ex8"></td>
                    <td class="ex"><input ng-model="SPCtrl.doneExercise.ex9"  class="form-control" type="text" name="ex9"></td>
                    <td class="ex"><input ng-model="SPCtrl.doneExercise.ex10"  class="form-control" type="text" name="ex10"></td>
                    <td class="ex"><input ng-model="SPCtrl.doneExercise.ex11"  class="form-control" type="text" name="ex11"></td>
                    <td class="ex"><input ng-model="SPCtrl.doneExercise.ex12"  class="form-control" type="text" name="ex12"></td>
                    <td class="ex"><input ng-model="SPCtrl.doneExercise.ex13"  class="form-control" type="text" name="ex13"></td>
                </tr>
                <tr>
                    <td colspan="3"><input ng-click="SPCtrl.addDoneExercises(add_done_exercises_from)" type="submit" class="btn btn-info" value="Добавить сделанные упражнения"></td>
                    <td colspan="3"><button ng-click="SPCtrl.fillLikePrev()" class="btn btn-primary">Заполнить как предыдущий</button></td>
                </tr>
            </table>
        </form>
    </div>
    <hr class="white">
<table class="table table-bordered done_exercises head">
    <tr>
        <td class="date">Дата</td>
        <td class="ex">Упр 1</td>
        <td class="ex">Упр 2</td>
        <td class="ex">Упр 3</td>
        <td class="ex">Упр 4</td>
        <td class="ex">Упр 5</td>
        <td class="ex">Упр 6</td>
        <td class="ex">Упр 7</td>
        <td class="ex">Упр 8</td>
        <td class="ex">Упр 9</td>
        <td class="ex">Упр 10</td>
        <td class="ex">Упр 11</td>
        <td class="ex">Упр 12</td>
        <td class="ex">Упр 13</td>
    </tr>
</table>
    <table class="table table-bordered done_exercises">
            <tr ng-repeat="ex in SPCtrl.doneExercises" class="ex_row">
                <td class="date">{{ex.date}}</td>
                <td class="ex">{{ex.ex1}}</td>
                <td class="ex">{{ex.ex2}}</td>
                <td class="ex">{{ex.ex3}}</td>
                <td class="ex">{{ex.ex4}}</td>
                <td class="ex">{{ex.ex5}}</td>
                <td class="ex">{{ex.ex6}}</td>
                <td class="ex">{{ex.ex7}}</td>
                <td class="ex">{{ex.ex8}}</td>
                <td class="ex">{{ex.ex9}}</td>
                <td class="ex">{{ex.ex10}}</td>
                <td class="ex">{{ex.ex11}}</td>
                <td class="ex">{{ex.ex12}}</td>
                <td class="ex">{{ex.ex13}}</td>
            </tr>
    </table>
</div>