<link href="/css/piano.css" type="text/css" rel="stylesheet">
<div id="add_beats">

    <table>
        <tr>
            <td class="title">Добавление тактов</td>
            <td><button ng-click="getTargetView('/piano/all')" class="btn btn-success add_beats_button">Все такты</button></td>
        </tr>
    </table>

    <hr class="white">
    <div class="add_beats_form_wrap">
        <form name="add_beats_form">
            <table class="add_beats_table">
                <tr>
                    <td>Такты</td>
                    <td><input ng-model="beat.beat_from" name="beat_from" type="text" class="form-control" placeholder="С..." required></td>
                    <td>-</td>
                    <td><input ng-model="beat.beat_to" name="beat_to" type="text" class="form-control" placeholder="...ПО" required></td>
                </tr>
                <tr>
                    <td>Сложность</td>
                    <td><input  ng-model="beat.complexity" name="complexity" type="text" class="form-control" required></td>
                </tr>
                <tr>
                    <td>Статус</td>
                    <td><input  ng-model="beat.status" name="status" type="text" class="form-control" required></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input ng-click="addbeats(beat, add_beats_form)" type="submit" value="Добавить такты" class="btn btn-primary"></td>
                </tr>
            </table>
        </form>
    </div>
</div>