<link href="/css/piano.css" type="text/css" rel="stylesheet">

<div id="piano_button_panel" class="panel_button">
    <button ng-click="save()" class="btn btn-success ok_button">OK</button>
    <button class="btn btn-danger cancel_button">X</button>
</div>

<table class="piano_head_table">
    <tr>
        <td><span class="beats_title">Такты</span></td>
        <td><button ng-click="getTargetView('/piano/add')" class="btn btn-success  add_beats_button">Добавить такты</button></td>
    </tr>
</table>
    <hr class="white">
    <table id="beats" class="table table-bordered tickets head">
        <tr>
            <td id="asdad" class="beats">Такты</td>
            <td class="minutes">Минуты</td>
            <td class="complexity">Сложность</td>
            <td class="status">Статус</td>
            <td class="updated">Обновлено</td>
            <td style="width: 17px"></td>
        </tr>
    </table>

    <div id="piano_table_wrap" class="beats_select_wrap">
        <table class="table table-bordered tickets">
            <tr ng-repeat="beat in beats"class="beat_row">
                <td class="beats">{{beat.beats}}</td>
                <td data-col_name="SPENT_TIME_MIN" data-row_id="{{beat.id}}" class="minutes editable">{{beat.minutes}}</td>
                <td class="complexity">{{beat.complexity}}</td>
                <td data-col_name="STATUS" data-row_id="{{beat.id}}" class="status editable">{{beat.status}}</td>
                <td class="updated">{{beat.updated}}</td>
            </tr>
        </table>
    </div>

    <script>
        new TableEditor(document.querySelector("#piano_table_wrap"), document.querySelector("#piano_button_panel"));
        $(".panel_button").offset({
           "top" : document.querySelector("#asdad").getBoundingClientRect().bottom,
           "left" : $("#asdad").offset().left
        });
    </script>


