<link href="/app/Keyboard/piano.css" type="text/css" rel="stylesheet">
<div class="statistics_wrap">

    <table>
        <tr>
            <td class="title">Статистика</td>
            <td><button ng-click="getTargetView('/piano/add')" class="btn btn-success add_beats_button">Добавить такты</button></td>
            <td><button ng-click="getTargetView('/piano/all')" class="btn btn-success add_beats_button">Все такты</button></td>
        </tr>
    </table>


    <hr class="white">

    <table>
        <tr>
            <td class="label">Всего тактов</td>
            <td ng-bind="stat.totalBeats" class="value"></td>
        </tr>
        <tr>
            <td class="label">Изучено тактов</td>
            <td ng-bind="stat.doneBeats" class="value"></td>
        </tr>
        <tr>
            <td class="label">Всего часов</td>
            <td ng-bind="stat.totalHours" class="value"></td>
        </tr>
        <tr>
            <td class="label">Всего суток</td>
            <td ng-bind="stat.totalDays" class="value"></td>
        </tr>
    </table>

</div>