<link href="/css/sport.css" type="text/css" rel="stylesheet">

<table class="exercises_head_table">
    <tr>
        <td class="list_of_exercises">Список упражнений</td>
        <td><button ng-click="getTargetView('/sport/done')" class="btn btn-success">Список сделанных упражнений</button></td>
        <td><button ng-click="getTargetView('/sport/add')" class="btn btn-success">Добавить новое упражнение</button></td>
    </tr>
</table>

<hr class="white">

<table class="table table-bordered exercises head">
    <tr>
        <td class="name">№</td>
        <td class="title">Название</td>
        <td class="set">Подход</td>
        <td class="rest">Отдых</td>
        <td class="repeat">Кол-во повторений</td>
        <td class="times">Кол-во подходов</td>
        <td style="width: 17px"></td>
    </tr>
</table>
<div class="exercises_wrap">
    <table class="table table-bordered exercises">
        <tr ng-repeat="exercise in allExercises" class="ex_row">
            <td class="name">{{exercise.name}}</td>
            <td class="title">{{exercise.title}}</td>
            <td class="set">{{exercise.setTimeSec}}</td>
            <td class="rest">{{exercise.restTimeSec}}</td>
            <td class="repeat">{{exercise.repeatNumber}}</td>
            <td class="times">{{exercise.timesNumber}}</td>
        </tr>
    </table>
</div>