<nav style="margin-bottom: 0px" class="navbar navbar-inverse">
    <div class="navbar-form navbar-left">
        <button ui-sref="main" class="btn btn-warning button-head">Главная</button>
        <button ui-sref="directory" class="btn btn-primary button-head">Справочник</button>
        <a href="#!/bugtracker/create"><button class="btn btn-primary button-head">Багтрекер</button></a>
        <a href="#!/bugtracker/list"><button class="btn btn-primary button-head">Спорт</button></a>
        <button ui-sref="ticketList" class="btn btn-primary button-head">Клавиши</button>
    </div>
    <div style="margin-right: 0px" class="navbar-form navbar-right">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Поиск...">
        </div>
        <button class="btn btn-default">Искать</button>
    </div>
</nav>